<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
      </style>

    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

      
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    

    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/nav.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepagedecor.css' %}">
    <title>Hello, world!</title>
  </head>
  <body onload="my()">
    <nav class="navbar navbar-expand-lg navbar-light bg-success" >
      <div class="container-fluid" style="padding: 0vh;">
        <a class="navbar-brand" href="#" style="color: antiquewhite;font-size: 4vh;">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: antiquewhite;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: antiquewhite;">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: antiquewhite;">Pricing</a>
            </li>
            <li class="nav-items">
              <a class="nav-link" onclick="w3.show('#upload'),w3.show('#background')" style="color: antiquewhite;">Upload</a>
          </li>
            <li class="nav-items">
              <div id="symbol"><a href="#">V</a></div>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
      <!-- navbar ended -->
      <section id="reports">       

        <h3 style="margin: 0vh;color: blueviolet;font-weight: 700;">My Reports :</h3>
          <br>
          <div id="gph-grid">
            <div>
              <div>
                <h2>N/A</h2>
              </div>
              <h4>Blood Pressure</h4>
            </div>

            <div>
              <div>
                <h2>N/A</h2>
              </div>
              <h4>Sugar Level</h4>
            </div>

            <div>
              <div>
                <h2>N/A</h2>
              </div>
              <h4>Cholesterol Level</h4>
            </div>

            <div>
              <div>
                <h2>N/A</h2>
              </div>
              <h4>Blood Pressure</h4>
            </div>

            <div>
              <div>
                <h2>N/A</h2>
              </div>
              <h4>Blood Pressure</h4>
            </div>

            <div>
              <div>
                <h2>N/A</h2>
              </div>
              <h4>Blood Pressure</h4>
            </div>
          </div>  
      <!-- <div id="uploadbtn">
        <button onclick="w3.show('#upload'),w3.show('#background')">Upload</button>
      
        </div>
      <!-- form -->
    <div id="upload">
      <div id="container-upload">
        <button class="close" onclick="location.reload();"><span class="material-symbols-outlined" style="color: red;">
          close
          </span></button>
        <div>
        <h4 id="date" style="color:white;position: absolute; right: 8vw;"></h4>
      </div>
        <form action="" id="upload-form">
          <label for="bp">BLOOD PRESSURE :</label>
          <input type="value" name="bp" placeholder="Ener Your Blood Pressure">
          <label for="sugar">Sugar level :</label>
          <input type="value" name="sugar" placeholder="Enter Your Sugar Level">
          <label for="chelo">Cholesterol</label>
          <input type="value" name="chelo" placeholder="Enter Your Cholestrol levels">
          <label for="bmi">BMI :</label>
          <input type="value" name="bmi" placeholder="Enter Your BMI value">
          <label for="smoke">Do You Smoke?</label>
          <input type="text" name="smoke" placeholder="Enter Yes or NO">
          <label for="drink">Do you Drink?</label>
          <input type="text" name="drink" placeholder="Enter Yes or NO">
          <input type="submit" style="padding: 2vh;border-radius: 3vh; background-color: black; color: white; ">
        </form>

      </div>
    </div>
      </section>
      <div id="background" ></div>   









      <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>9876543210 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Expert Team</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

      <script type="text/javascript" src="/static/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>