@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar
{
    position: sticky;
    top: 0vh;
}
#reports
{
    display: flex;
    flex-direction: row;
}
#graphs
{ 
    height: auto;
    width: 90%;
    background-color: #a2d5ab;
}
#gph-grid
{
    display: grid;
    padding-top: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
    grid-template-columns: auto auto;
    grid-gap: 2vh;
    grid-row-gap: 5vh;
}
#gph-grid div
{
    display: flex;
    height: 20vh;
    background-image: url('signup.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#uploadbtn
{
    background-color: #e5efc1;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    
    
}
#uploadbtn button
{
    font-size: 3vh;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 2vh;
    padding: 2vh;
    background-color: #557b83;
    border-radius: 20px;
}