@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
}
.navbar
{
    margin: 0vh;
    padding: 0vh;
    padding-left: 1vw;
    padding-right: 1vh;
    z-index: 15;
}
.navbar-nav
{
    position: relative;
}
nav a
{
    font-size: 2.8vh;
}
.nav-items
{
    margin-right: 4vw;
}
@media (min-width:989px) {
    .collapse
    {
        position: sticky;
       transform: translateX(55vw);
    }
}
.nav-link
{
    padding: 2vh;
    
}
.nav-link:hover
{
     background-color: rgb(8, 42, 20);
}

    /* navbar ended */